In [2]:
# Importation des packages requis
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd
from requests import get

# Initialisation d'un DataFrame vide
df = pd.DataFrame()

# Parcoure des 111 premières pages

# "for p in range(1, 112):""   ## Est la ligne code normale pour parcours les 111 pages du site Dakar-auto
for p in range(1, 3): 
    url = f'https://dakar-auto.com/senegal/voitures-4?page={p}'
    res = requests.get(url)
    soup = bs(res.text, 'html.parser')
    containers = soup.find_all('div', class_='listing-card')

    data = []
    
    for container in containers:
        name = container.find('h2', class_='listing-card__header__title mb-md-2 mb-0').text.strip() 
        price = container.find('h3', class_='listing-card__header__price font-weight-bold text-uppercase mb-0').text.strip().replace('\u202f','').replace(' F CFA','')
        Ref = container.find('li', class_='listing-card__attribute list-inline-item').text.strip().replace('\u202f','').replace('Ref.','')
        proprio = container.find('p', class_='time-author m-0').text.strip().replace('\u202f','').replace('Par ','')
        adr_vente_commune = container.find('span', class_='town-suburb d-inline-block').text.strip().replace('\u202f','').replace(',','')
        adr_vente_region = container.find('span', class_='province font-weight-bold d-inline-block').text.strip()  
        kilometrage = container.find('i',class_='v-icon icon-road-perspective')
        boite = container.find('i',class_='v-icon icon-gear-icon')
        carburant = container.find('i',class_='v-icon icon-fuel')
        
        
     
        
        data.append({'Marque_Modele_Annee': name, 
                     'Prix (F CFA)' : price, 
                     'Ref.' : Ref, 
                     'Proprio' : proprio, 
                     'Adr_Commune' : adr_vente_commune,
                     'Adr_Region' : adr_vente_region, 
                     'Kilometrage' : kilometrage, 
                     'Boite' : boite,
                     'Carburant' : carburant}) 
    
    # Ajout des donnees scrapes au DataFrame
    df = pd.DataFrame(data)

# Affichage du DataFrames
print(df)

         Marque_Modele_Annee Prix (F CFA)     Ref.                  Proprio  \
0   Toyota Land Cruiser 2015     20000000   139060           MAGUETTE THIAM
1     Range Rover Sport 2015      5500000   139082            Crazy Busness
2           Peugeot 307 2007      2300000   139092          Mourtada Ndiaye
3       Chevrolet Sonic 2013      2800000   139094         Papa Mody Diallo
4      Hyundai Santa Fe 2014      6800000   139095               Cisse Ibou
5      Hyundai Santa Fe 2017     13000000   138771              Mouhamed Lo
6           Ford Fiesta 2007      1000000   139097              Fodé TRAORé
7                Bmw X3 2014      9500000   139098  Bachir Business Service
8        Hyundai Sonata 2011      4000000   139099  Bachir Business Service
9            Citroen C4 2014      5000000   139100  Bachir Business Service
10         Jeep Compass 2016      7300000   139102      Rassoul Automobiles
11         Kia Sportage 2016     11000000   139104      Rassoul Automobiles
12          Volvo Volvo 2017      1400000   139105           huazhiai zhong
13          Ford Fusion 2011      1350000   139107           Emmanuel SADIO
14            Ford Edge 2015      7500000   139108             Aicha Diallo
15         Kia Sportage 2017     11000000   139109                  Fall Sy
16          Ford Ranger 2009      5500000   139112      Rassoul Automobiles
17      Chevrolet Cruze 2012      3500000   139113      Rassoul Automobiles
18         Hyundai Kona 2019      7900000   139204           Moustapha KEBE
19       Peugeot Expert 2011      5000000   139205          Yves TABOURDEAU

                   Adr_Commune Adr_Region Kilometrage Boite Carburant
0          Parcelles Assainies      Dakar          []    []        []
1          Parcelles Assainies      Dakar          []    []        []
2                 Pikine Ouest      Dakar          []    []        []
3   Gueule-Tapée Fass Colobane      Dakar          []    []        []
4                   Guédiawaye      Dakar          []    []        []
5                    Liberté 6      Dakar          []    []        []
6                    Cambérène      Dakar          []    []        []
7                       Médina      Dakar          []    []        []
8                   Guédiawaye      Dakar          []    []        []
9                       Amitié      Dakar          []    []        []
10                     Plateau      Dakar          []    []        []
11                       Mbour      Thiès          []    []        []
12                 Grand-Dakar      Dakar          []    []        []
13                        Mbao      Dakar          []    []        []
14                    Mamelles      Dakar          []    []        []
15                 Djily Mbaye      Dakar          []    []        []
16                     Plateau      Dakar          []    []        []
17                     Plateau      Dakar          []    []        []
18                   Liberté 6      Dakar          []    []        []
19                         VDN      Dakar          []    []        []

In [3]:
# Affiche des donnees 
df.head()

,Marque_Modele_Annee,Prix (F CFA),Ref.,Proprio,Adr_Commune,Adr_Region,Kilometrage,Boite,Carburant
0,Toyota Land Cruiser 2015,20000000,139060,MAGUETTE THIAM,Parcelles Assainies,Dakar,[],[],[]
1,Range Rover Sport 2015,5500000,139082,Crazy Busness,Parcelles Assainies,Dakar,[],[],[]
2,Peugeot 307 2007,2300000,139092,Mourtada Ndiaye,Pikine Ouest,Dakar,[],[],[]
3,Chevrolet Sonic 2013,2800000,139094,Papa Mody Diallo,Gueule-Tapée Fass Colobane,Dakar,[],[],[]
4,Hyundai Santa Fe 2014,6800000,139095,Cisse Ibou,Guédiawaye,Dakar,[],[],[]

In [4]:
# Importation de packages requis
import pandas as pd
import numpy as np

In [5]:
# Divisions de la colonne 'Marque_Modele_Annee' partir des espaces
split_columns = df['Marque_Modele_Annee'].str.split(' ', expand=True)

In [6]:
# Affichage des colonnes divises 
split_columns

            0         1        2     3
0      Toyota      Land  Cruiser  2015
1       Range     Rover    Sport  2015
2     Peugeot       307     2007  None
3   Chevrolet     Sonic     2013  None
4     Hyundai     Santa       Fe  2014
5     Hyundai     Santa       Fe  2017
6        Ford    Fiesta     2007  None
7         Bmw        X3     2014  None
8     Hyundai    Sonata     2011  None
9     Citroen        C4     2014  None
10       Jeep   Compass     2016  None
11        Kia  Sportage     2016  None
12      Volvo     Volvo     2017  None
13       Ford    Fusion     2011  None
14       Ford      Edge     2015  None
15        Kia  Sportage     2017  None
16       Ford    Ranger     2009  None
17  Chevrolet     Cruze     2012  None
18    Hyundai      Kona     2019  None
19    Peugeot    Expert     2011  None

In [7]:
# Attribution des colonnes fractionnées aux nouvelles colonnes de noms : 'Marque' , 'Model', 'Annee'  
df['Marque'] = split_columns[0]
df['Model'] = split_columns[1]
df['Annee'] = split_columns[2]

In [8]:
# Nouvellle reorganisation des colonnes
df = df[['Marque', 'Model', 'Annee', 'Kilometrage', 'Boite'  , 'Carburant',  'Prix (F CFA)', 'Ref.', 'Adr_Commune', 'Adr_Region', 'Proprio' ]]

In [9]:
# Affichage du DataFrame
df.head()

,Marque,Model,Annee,Kilometrage,Boite,Carburant,Prix (F CFA),Ref.,Adr_Commune,Adr_Region,Proprio
0,Toyota,Land,Cruiser,[],[],[],20000000,139060,Parcelles Assainies,Dakar,MAGUETTE THIAM
1,Range,Rover,Sport,[],[],[],5500000,139082,Parcelles Assainies,Dakar,Crazy Busness
2,Peugeot,307,2007,[],[],[],2300000,139092,Pikine Ouest,Dakar,Mourtada Ndiaye
3,Chevrolet,Sonic,2013,[],[],[],2800000,139094,Gueule-Tapée Fass Colobane,Dakar,Papa Mody Diallo
4,Hyundai,Santa,Fe,[],[],[],6800000,139095,Guédiawaye,Dakar,Cisse Ibou

In [10]:
# Export du Dataframe dans un CSV file
df.to_csv('Vente_Voitures_Dakar_Auto_Datas.csv', index=False)